.libraries-new
  = form_for @library do |f|
    - if @library.errors.any?
      #error_explanation
        %h2= "#{pluralize(@library.errors.count, "error")} prohibited this library from being saved:"
        %ul
          - @library.errors.full_messages.each do |message|
            %li= message
    .fields
      .field
        = f.label 'Názov:'
        = f.text_field :title
      .field
        = f.label '6-miestny kód:'
        = f.text_field :code
      .actions
        = f.submit 'Uložiť'
