.container
  .row
    %h1 Všetky knižnice
    = link_to new_library_path do
      .plus +

  .libraries
    - @libraries.each do |library|
      = link_to library do
        .list-row
          = library.title
          \|
          = "##{library.code}"

          -#%td= link_to 'Edit', edit_library_path(library)
          -#%td= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' }