%p#notice= notice

%div{ data: { controller: 'levels', level_id: @level.id } }
  %div{ data: { levels_target: 'form' } }
    - @level.layout.each_with_index do |row, row_num|
      %div
        - row.each_with_index do |block, block_num|
          %div{ id: "block#{row_num}#{block_num}", class: "block #{block}", data: { reflex: 'click->Level#change_block_type', reflex_dataset: 'combined', layout_row: row_num, layout_block: block_num } }
    - if @level.persisted?
      infds
    - else
      = render 'levels/form'
  %button{ data: { action: 'click->levels#hello' } }
    show/hide

  %div{id: "zmen_meno", data: { reflex: 'click->Level#zmen_meno' } }
    povodne meno






- @library.levels.each do |level|
  %p
    = level.title

= 'empty' if @library.levels.empty?


%p
  %b Title:
  = @library.title
%p
  %b Code:
  = @library.code
%p
  %b Teacher:
  = @library.teacher_id

= link_to 'Edit', edit_library_path(@library)
\|
= link_to 'Back', libraries_path

