%h1 Listing levels

%table
  %thead
    %tr
      %th Title
      %th Control
      %th Frog
      %th Layout
      %th
      %th
      %th

  %tbody
    - @levels.each do |level|
      %tr
        %td= level.title
        %td= level.control
        %td= level.frog
        %td= level.layout
        %td= link_to 'Show', level
        %td= link_to 'Edit', edit_level_path(level)
        %td= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Level', new_level_path
