.level{ data: { controller: 'game', level_id: @level.id, level_type: @level.control } }
  #canvas{ data: { action: "keydown@window->game##{@level.control}Keyboard" } }
    - @level.layout.each_with_index do |row, row_num|
      %div
        - row.each_with_index do |block, block_num|
          %div{ id: "block#{row_num}#{block_num}",
                  class: "#{block}",
                  }
            = image_tag 'frog-icon.png', class: 'frog', id: 'frog', data: { game_target: 'frog', level_layout: @level.layout, initial_row: @level.frog[0], initial_block: @level.frog[1] } if @level.frog_here?(row_num, block_num)
  .controls
    = button_tag '7', data: { action: "click->game##{@level.control}Click", game_where_param: 7 }
    = button_tag '8', data: { action: "click->game##{@level.control}Click", game_where_param: 8 }
    = button_tag '9', data: { action: "click->game##{@level.control}Click", game_where_param: 9 }
    %br
    = button_tag '4', data: { action: "click->game##{@level.control}Click", game_where_param: 4 }
    ___
    = button_tag '6', data: { action: "click->game##{@level.control}Click", game_where_param: 6 }
    %br
    = button_tag '1', data: { action: "click->game##{@level.control}Click", game_where_param: 1 }
    = button_tag '2', data: { action: "click->game##{@level.control}Click", game_where_param: 2 }
    = button_tag '3', data: { action: "click->game##{@level.control}Click", game_where_param: 3 }
    - if @level.programming?
      %br
      = button_tag 'jump', data: { action: 'click->game#jump', game_target: 'jumpBtn' }
      = button_tag 'reset', data: { action: 'click->game#reset' }

  #frog-moves{ data: { game_target: 'frogMoves'} }
  #level-passed

%p
  %b Title:
  = @level.title


= link_to 'Edit', edit_level_path(@level)
\|
= link_to 'Back', levels_path
